# Windows
Debug.win32
Release.win32
*.vcxproj.user
*.opendb
*.sdf
.vs

# OS X
.DS_Store
xcuserdata
project.xcworkspace

# Android
bin
gen
local.properties
assets
libs
obj

# IOS
build

# Javascript
.idea

# Cocos2d-x
simulator
